<% if Setting.plugin_redmine_print_issue[:tracker_ids].include?(@issue.tracker_id.to_s) then %>
  <% content_for :header_tags do %>
<!-- redmine_print_issue BEGIN -->
<script type="text/javascript" charset="utf-8">
  var printLink  = $('<a href="<%= print_template_url(@issue) -%>" class="print-it icon icon-print"><%= Setting.plugin_redmine_print_issue["tracker_#{@issue.tracker_id.to_s}_name"] -%></a>');
  jQuery(function(){
    $('#content > div.contextual > a.icon-edit').after(
      printLink.clone()
    );
  });
</script>
<%= stylesheet_link_tag    :print_issue, plugin: "redmine_print_issue", media: :all %>
<!-- redmine_print_issue END -->
  <% end %>
<% end %>
