<% if @project.module_enabled?(:print_issue) and
     Setting.plugin_redmine_print_issue[:print_tracker_ids].include?(@issue.tracker_id.to_s) then %>
<% content_for :header_tags do %>
<!-- redmine_print_issue BEGIN -->
<script type="text/javascript" charset="utf-8">
//<![CDATA[
var cancelLink = $('<a href="#" class="cancel-print icon icon-cancel"><%= t :cancel_print %></a>');
var printLink  = $('<a href="#" class="print-it icon icon-print"><%= t :print_it %></a>');
//]]>
</script>
<%= javascript_include_tag :print_issue, plugin: "redmine_print_issue" %>
<%= stylesheet_link_tag    :print_issue, plugin: "redmine_print_issue", media: :all %>
<!-- redmine_print_issue END -->
<% end %>
<% end %>
