<h1><%= l(:print_example_template_header) %></h1>
<div data-content="issue-description">

</div>
<hr/>
<h6><%= l(:print_example_template_footer) %> <%= link_to l(:setting_plugin_redmine_print_issue), controller: :settings, action: :plugin, id: :redmine_print_issue %></h6>
