@media screen {
  .icon-print { background-image: url(../images/print.png); }
  body.redmine-print-issue { padding: 10pt; }
  div.wiki { border-bottom: 1px dotted silver;
             padding-bottom:10pt;
             margin-bottom: 10pt; }
  a.cancel-print, a.print-it { margin: 5pt; }
}

@media print {
  a.cancel-print, a.print-it { display: none; }
}
