.icon-print { background-image: url(../images/print.png); }

@media only print {
  #top-menu, #header, #footer, #sidebar, hr,
  .author, .attributes, #issue_tree, #relations,
  #history, #issue-changesets, .contextual, .other-formats,
  .attachments {display: none;}
  div.issue {background: none; border:none; }
  h2,h3 {font-size: 24px;}
}
